@import "tailwindcss";


/* 8ecae6 219ebc 023047 ffb703 fb8500 */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  /* Define custom colors in @theme block */
  --color-primary-light: #8ecae6;
  --color-primary: #219ebc;
  --color-primary-dark: #023047;
  --color-accent-yellow: #ffb703;
  --color-accent-orange: #fb8500;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}